.list Label{
	-fx-font-size:18.0px;
}
.list .name{
	-fx-font-size:22.0px;
}
.list .button{
	-fx-effect:dropshadow(three-pass-box, rgba(30.0,20.0,7.0,0.3), 10.0, 0.0, 0.0, 0.0);
	 -fx-background-color:#e5dfdc;
}
.list .button:hover{
	 -fx-background-color:#c6c1be;
}

.scrollpane{
	 -fx-background:#ede7e3;
}

.scrollpane .scroll-bar:vertical {
    -fx-pref-width: 20.0;
}
.scrollpane .scroll-bar:vertical .track {
   -fx-background-color:#f6f5f3;

}
.scrollpane .scroll-bar:vertical .thumb {
	-fx-background-color:#9e8d87;

}
.scrollpane .scroll-bar:vertical .decrement-button,
.scrollpane .scroll-bar:vertical .increment-button {
	 -fx-background-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 10.0 0.0 0.0;
}
.scrollpane  .scroll-bar .increment-arrow,
.scrollpane  .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";
	-fx-padding:0.0;
}